.banner {
    background: var(--g-blue);
    color: var(--white);
    text-align: center;
    padding: 2em 1.5em;
}

.banner__title{
    font-size: 1.125em;
    font-weight: var(--bold);
}

.banner__text {
    font-weight: var(--medium);
    margin: 1em 0 2em 0;
}

.banner__search {
    background-color: transparent;
    color: var(--white);
    border:1px solid var(--white);
    border-radius: 24px;
    padding: 0.625em 1.5em;
    width: 100%;
}

.banner__search::placeholder {
    font-family: var(--main-font);
    color: var(--white);
    font-size: 0.875em;
    font-weight: var(--regular);
    text-align: center;
    background: url(../images/icons-menu/pesquisa.svg) no-repeat;
    background-position: 1em;
}